* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #ffd650;
}

html {
	height: 100%;
	font-size: 16px;
}

body {
	min-height: 100%;
	background-color: var(--primary-color);
	color: #000;
	font-family: Arial, sans-serif;
	padding: 0 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.preview-card,
.preview-card__info {
	display: flex;
	flex-direction: column;
}

.preview-card {
	gap: 24px;
	width: 100%;
	max-width: 384px;
	background-color: #fff;
	padding: 24px;
	margin: auto 0;
	border: 1px solid black;
	border-radius: 16px;
	box-shadow: 8px 8px black;
}

.preview-card:hover {
	cursor: pointer;
	translate: -8px -8px;
	box-shadow: 16px 16px black;
}

.preview-card__info {
	gap: 12px;
}

.illustration {
	width: 100%;
	border-radius: 8px;
}

.preview-card__learning,
.preview-card__title,
.preview-card__user-name {
	font-weight: 1000;
}

.preview-card__learning {
	align-self: start;
	background-color: var(--primary-color);
	padding: 8px 16px;
	border-radius: 8px;
}

.preview-card__learning,
.preview-card__date {
	font-size: 12px;
}

.preview-card__title {
	font-size: 20px;
}

.preview-card__title:hover {
	color: var(--primary-color);
}

.preview-card__para {
	color: #666;
	line-height: 150%;
	font-size: 14px;
}

.preview-card__user {
	display: flex;
	align-items: center;
	gap: 12px;
}

.preview-card__user-img {
	width: 32px;
}

.preview-card__user-name {
	font-size: 14px;
}

.attribution {
	margin-top: auto;
	background-color: inherit;
	text-align: center;
	padding: 8px;
	border-radius: 16px;
	z-index: -1;
}

.attribution a {
	text-decoration: none;
	color: #fff;
	text-shadow: 0 0 2px black;
}

@media only screen and (min-width: 600px) {
	.attribution {
		position: absolute;
		bottom: 0;
	}

	.preview-card__learning,
	.preview-card__date {
		font-size: 14px;
	}

	.preview-card__title {
		font-size: 24px;
	}

	.preview-card__para {
		font-size: 1rem;
	}
}