* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #ffd650;
}

html {
	height: 100%;
	font-size: 16px;
}

body {
	min-height: 100%;
	background-color: var(--primary-color);
	color: #000;
	font-size: clamp(0.75rem, 0.5625rem + 0.8333vw, 1rem);
	font-family: Arial, sans-serif;
	padding: 0 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.preview-card {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	max-width: 384px;
	background-color: #fff;
	padding: 20px;
	margin: auto 0;
	border: 1px solid black;
	border-radius: 16px;
	box-shadow: 8px 8px black;
}

.preview-card:hover {
	cursor: pointer;
	translate: -8px -8px;
	box-shadow: 16px 16px black;
}

.illustration {
	width: 100%;
	border-radius: 8px;
}

.preview-card__learning {
	align-self: start;
	background-color: var(--primary-color);
	font-weight: bold;
	padding: 8px 16px;
	border-radius: 8px;
}

.preview-card__title {
	font-weight: bold;
	font-size: clamp(1.25rem, 1.0625rem + 0.8333vw, 1.5rem);
}

.preview-card__title:hover {
	color: var(--primary-color);
}

.preview-card__para {
	color: #666;
}

.preview-card__user {
	display: flex;
	align-items: center;
	gap: 16px;
}

.preview-card__user-img {
	width: 48px;
}

.preview-card__user-name {
	font-weight: bold;
}

.attribution {
	margin-top: auto;
	background-color: inherit;
	text-align: center;
	padding: 8px;
	border-radius: 16px;
	z-index: -1;
}

.attribution a {
	text-decoration: none;
	color: #fff;
	text-shadow: 0 0 2px black;
}

@media only screen and (min-width: 600px) {
	.attribution {
		position: absolute;
		bottom: 0;
	}
}